/* general */

:root {
  --light-green: #42b02980;
  --green: #42b029;
  --dark-green: #2d7e1a;
  --darkest-green: #2b5233;
  --white: #fafafa;
  --black: #0d0d0f;
}

.slick-next {
  right: 62px;
  z-index: 10;
}

.slick-prev {
  left: 62px;
  z-index: 10;
  
}

.slick-dots{
  bottom:30px
}

.slick-prev:before, .slick-next:before {
  font-size: 50px;
}